@charset "UTF-8";

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  background-color: white;
  position:fixed;
  top: 0;
  z-index: 10;
  border-bottom: 3px solid darkred;
}

.header-left {
  float: left;
}

.header-right {
float: right;
trasition: all 0.5s;
margin-right: 50px;
}

.header-right ul {
  margin: 0;
  padding: 0;
}

.header-right ul:after {
  content: "";
  display: block;
  clear: both;
}

.header-right li {
  float: left;
  width:auto;
}

.header-right li a {
  display: block;
  color: black;
  font-size: 16px;
  line-height: 46px;
  font-weight: bold;
  padding: 7px 7px;
}

.header-right li a:hover {
  background-color: gray;
}

.logo {
  width: 300px;
  height: 60px;
  margin-left: 50px;
}

.box1 {
  background-image: url(S__6692890.jpg);
  background-size: cover;
  width: 100%;
  height: 550px;
}

.box1 p {
  color: white;
  font-size: 35px;
  padding-top: 280px;
  padding-left: 100px;
  font-family:serif;
  font-weight: bold;
}

.box2:after {
  content: "";
  display: block;
  clear: both;
}

.box2-1 {
  float: left;
  width: 30%;
}

.box2-1 img {
  height: 550px;
}

.box2-2 {
  float: left;
  margin-left: 10%;
  width: 60%;
  background-color: white;
}

.box2-2 p {
  padding-top:50px;
  padding-bottom:70px;
  font-size: 25px;
  line-height: 120px;
  text-align: center;
  font-family:serif;
  font-weight: bold;
}

.box3 {
  margin-top: 50px;
}

.box3:after {
  content:"";
  display: block;
  clear: both;
}

.box3 a {
  display: block;
  background-color: darkred;
  color: white;
  text-align:center;
  height: 200px;
}

.box3 a:hover {
  opacity: 0.8;
}

.box3 i {
  font-size: 38px;
  padding-top: 50px;
  display: block;
}

.box3 h1 {
  font-size: 20px;
  font-weight: normal;
  border-top: 2px solid #eee;
  margin-top: 50px;
  padding-top: 20px;
}

.box3-1 {
  float: left;
  width: 20%;
  margin-left: 13%;
  margin-right: 7%;
}

.box3-2 {
  float: left;
  width: 20%;
  margin-right: 7%;
}

.box3-3 {
  float:left;
  width: 20%;
  margin-right: 13%;
}

.box4 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box4 h1 {
  font-size: 25px;
}

.box4 p {
  font-size: 16px;
}

.box4:after {
  content:"";
  display: block;
  clear: both;
}

.box4-1 {
  float: left;
  width: 58%;
  margin-top: 20px;
}

.box4-2 {
  float: left;
  width: 42%;
  text-align: left;
}

.box4-3 a {
  color: white;
  background-color: darkred;
  padding: 7px 70px;
  text-align: center;
  float: left;
}

.box4-3 a:hover {
  opacity: 0.8;
}



footer {
  border-top: 2px solid #eee;
  text-align: center;
  height:90px;
}

.footer-kaisyamei {
  width: 500px;
  height: auto;
}

.box5 {
  height: 25px;
  width: 100%;
  background-color: darkred;
  color: white;
  text-align: center;
  font-size: 9px;
  line-height: 25px;
}
